<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/progress-bar.css">
</head>
<body>
    <div id = "header">
        <a href = "./profile.ejs">
            <div id = "coin">
                <img id = "progressing" src = "/img/coin.png">     
            </div>
            <div class="container">
                <div class="star-container">
                    <img class="star" src="/img/star.png">
                    <div class="level-number">0</div> <!-- The number only, centered on the star -->
                </div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" id="progress"></div>
                    </div>
                </div>
            </div>
            <div id = "streak">
                <img src = "/img/Vector 10.png">
                <h1>30</h1>
            </div>
        </a>
    </div> 
    <div>
        <input type="text" id="message-input" placeholder="Type your message here">
        <button>Send</button>
    </div>
    
    <div class="message">
        <div class="chat-container">
            <div class="chat-window">
                <div class="message-box sender">
                    <p>Moooo! 😁 Do you have any questions about money?</p>
                </div>
                <h1 class = "receiver">Suggestions</h1>
                <div class="message-box receiver suggestion">
                    <p>Why do people need money?</p>
                </div>
                <div class="message-box receiver suggestion">
                    <p>How do I save my money?</p>
                </div>
                <div class="message-box receiver suggestion">
                    <p>I'm looking for help with my project.</p>
                </div>
                <div class = "icon">
                    <img src = "/img/Cow.png">
                    <img src = "/img/3 dots.png">
                </div>
            </div>
            <div class="input-container">
                <input type="text" placeholder="Type a message" class="chat-input">
                <img src = "/img/send.png">
            </div>
        </div> 
    </div>    
    <div class = "menu1">
        <img src = "/img/menu (5).png" >
        <img src = "/img/menu (4).png">
        <img src = "/img/menu (3).png">
        <img src = "/img/menu (2).png">
        <img src = "/img/menu (1).png">
    </div>  

</body>
</html>
