<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/progress-bar.css">
</head>
<body>
    <div id = "header">
        <a href = "./profile.ejs">
            <div id = "coin">
                <img id = "progressing" src = "/img/coin.png">     
            </div>
            <div class="container">
                <div class="star-container">
                    <img class="star" src="/img/star.png">
                    <div class="level-number">0</div> <!-- The number only, centered on the star -->
                </div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" id="progress"></div>
                    </div>
                </div>
            </div>
            <div id = "streak">
                <img src = "/img/Vector 10.png">
                <h1>30</h1>
            </div>
        </a>
    </div> 
    <div id = "basic">
        <h1>Basics</h1>
    </div>
    <div class = "lesson">
        <div class="imgside">
            <img src = "/img/Coin grp.png">
        </div>
        <div class = "textside">
            <h2>Resume Your Lesson</h2>
            <h2 class = "unbolden">What is Money?</h2>
        </div>
        <div class = "side4">
            <img src = "/img/next.png">
         </div>
    </div>
    <div class="lockedless">
        <div class="imgside1">
            <img src = "/img/lockless.png">
        </div>
        <div class = "textside1">
            <h2>Saving</h2>
            
        </div>
    </div>
    <div class="lockedless">
        <div class="imgside1">
            <img src = "/img/lockless.png">
        </div>
        <div class = "textside1">
            <h2>Spending</h2>
            
        </div>
    </div>
    <div class="lockedless">
        <div class="imgside1">
            <img src = "/img/lockless.png">
        </div>
        <div class = "textside1">
            <h2>Risk</h2>
            
        </div>
    </div>
    <div class="lockedless">
        <div class="imgside1">
            <img src = "/img/lockless.png">
        </div>
        <div class = "textside1">
            <h2>Sharing</h2>
            
        </div>
    </div>
    <h1 id = "completion">1/5 Complete</h1>
    <div class = "menu1">
        <img src = "/img/menu (5).png" >
        <img src = "/img/menu (4).png">
        <img src = "/img/menu (3).png">
        <img src = "/img/menu (2).png">
        <img src = "/img/menu (1).png">
    </div>
</body>
</html>

    
    
