<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/progress-bar.css">
</head>
<body>
    <div id = "header">
        <a href = "./profile.ejs">
            <div id = "coin">
                <img id = "progressing" src = "/img/coin.png">     
            </div>
            <div class="container">
                <div class="star-container">
                    <img class="star" src="/img/star.png">
                    <div class="level-number">0</div> <!-- The number only, centered on the star -->
                </div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" id="progress"></div>
                    </div>
                </div>
            </div>
            <div id = "streak">
                <img src = "/img/Vector 10.png">
                <h1>30</h1>
            </div>
        </a>
    </div> 
    <div class = "youtube ">
        <iframe id="learn_video" src="https://www.youtube.com/embed/0iRbD5rM5qc?si=GZIx0KaSIa1KnHxv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="desc">
            <h1>What is Mooooney?</h1>
            <p>When you get some money, you don’t have to spend it all right away! You can put some of it in a special place, like a piggy bank or a savings jar. This way, you have money for later when you want something big, like a new toy.</p>
            <div class="imgsshare">
                <img src = "/img/Share.png">
                <img src = "/img/Bookmark.png">
            </div>
        </div>
        <button id = "video_button" style="background-color: #30a46c; color: white; font-weight: 600;">
            Complete Section
        </button>
    </div>
    <div class="upnext">
        <h2>Up next</h2>
        <h3>Saving-How to Stack Your Hay</h3>
    </div>
    <div class="nexts">
        <img src = "/img/Back.png">
        <img src = "/img/Group 2378.png">
    </div>
    <div class = "menu1">
        <img src = "/img/menu (5).png" >
        <a href="./courses">    
            <img src = "/img/menu (4).png">
        </a>
        
        <a href="./">   
            <img src = "/img/menu (3).png">
        </a>

        <a href="./chatbot">   
            <img src = "/img/menu (2).png">
        </a> 
        
        <img src = "/img/menu (1).png">
    </div>
<script src="/js/script.js"></script>
</body>
