<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id = "header">
        <a href = "./profile.ejs">
            <div id = "coin">
                <img id = "progress" src = "/img/coin.png">     
            </div>
            <div id = "bar">
                <img id = "progress" src = "/img/Group 2313.png">
            </div>
            <div id = "streak">
                <img src = "/img/Vector 10.png">
                <h1>30</h1>
            </div>
        </a>
    </div>