<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/progress-bar.css">
<link rel="stylesheet" href="/css/stockPage.css">
<link rel="icon" type="image/x-icon" href="/img/penny_logo.png">
</head>
<body>
    <div id = "header">
        <a href = "./profile.ejs">
            <div id = "coin">
                <img id = "progressing" src = "/img/coin.png">     
            </div>
            <div class="container">
                <div class="star-container">
                    <img class="star" src="/img/star.png">
                    <div class="level-number">0</div> <!-- The number only, centered on the star -->
                </div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" id="progress"></div>
                    </div>
                </div>
            </div>
            <div id = "streak">
                <img src = "/img/Vector 10.png">
                <h1>30</h1>
            </div>
        </a>
    </div>
    <div id = "balance">
        <h1>Your Current Balance</h1>
        <div class = "cylinder">
            <h3 class = "center">$800</h3>
            <a> View Full History</a>
        </div>
    </div>
    <div class = "notification">
        <div class = "image-side">
            <img src = "/img/Group 2325.png">
        </div>
        <div class = "text-side">
            <h2>Mom sent you 50$</h2>
            <h2 class = "unbolden">5:00pm Wednesday Oct 5</h2>
        </div>
        <div class = "cross">
           <img src = "/img/Group 2344.png">
        </div>
        
    </div>
    <div class = "notification">
        <div class = "image-side">
            <img src = "/img/Group 2327.png">
        </div>
        <div class = "text-side">
            <h2>Dad sent you 20$</h2>
            <h2 class = "unbolden">9:00am Monday Oct 2</h2>
        </div>
        <div class = "cross">
           <img src = "/img/Group 2344.png">
        </div>
        
    </div>
    <div class = "stocks">
        <h1>How are your stocks doing?</h1>
        <div class = "stock">
            <div class = "image-side1">
                <img src = "/img/Walmart.png">
            </div>
            <div class = "text-side1">
                <h2>WMT</h2>
                <h2 class = "unbolden">Walmart</h2>
            </div>
            <div class = "side2">
                <h2><span class = "green">+$0.51 </span></h2>
                <img src = "/img/next.png" id="dropdown">
             </div>
        </div>
    </div>
    <div class="stockPage">
        <div style="flex-direction: column; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
            <div style="padding-bottom: 3px;">
                <b>Name:</b> Walmart, <b>Symbol:</b> WMT
            </div>
            <div>
                <span style="color: green"> <b>Price:</b> 80.94 , +$0.51 (0.63%) </span>
            </div>
        </div>
    </div >
    <div class = "stocks">
        <div class = "stock">
            <div class = "image-side1">
                <img src = "/img/Apple.png">
            </div>
            <div class = "text-side1">
                <h2>APPL</h2>
                <h2 class = "unbolden">Apple</h2>
            </div>
            <div class = "side2">
                <h2><span class = "green">+$1.13 </span></h2>
                <img src = "/img/next.png" id="dropdown"> 
             </div>
        </div>
    </div>
    <div class="stockPage">
        <div style="flex-direction: column; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
            <div>
                <b>Name:</b> Apple, <b>Symbol:</b> AAPL
            </div>
            <div>
                <span style="color: green"> <b>Price:</b> $226.80, +$1.13 (0.50%) </span>
            </div>
        </div>
    </div>
    <div class = "stocks">
        <div class = "stock">
            <div class = "image-side1">
                <img src = "/img/Amazon.png">
            </div>
            <div class = "text-side1">
                <h2>AMZN</h2>
                <h2 class = "unbolden">Amazon</h2>
            </div>
            <div class = "side2">
                <h2><span class = "green">+$4.55 </span></h2>
                <img src = "/img/next.png" id="dropdown">
             </div>
        </div>
    </div>
    <div class="stockPage">
        <div style="flex-direction: column; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
            <div>
                <b>Name:</b> Amazon, <b>Symbol:</b> AMZN
            </div>
            <div>
                <span style="color: green"> <b>Price:</b> $186.51, +$4.55 (2.50%) </span>
            </div>
        </div>
    </div>
    <div class = "stocks">
        <div class = "stock">
            <div class = "image-side1">
                <img src = "/img/Lock.png">
            </div>
            <div class = "text-side2">
                <h2 class = "unbolden">Unlock to Buy Another Stock</h2>
            </div>
            <div class = "side3">
                <img src = "/img/coin.png">
                <h2><span class = "diff">150 </span></h2>
             </div>
        </div>
    </div>
    <div class = "menu">
        <img src = "/img/menu (5).png" >
        <a href="./courses">    
            <img src = "/img/menu (4).png">
        </a>
        
        <a href="./">   
            <img src = "/img/menu (3).png">
        </a>

        <a href="./chatbot">   
            <img src = "/img/menu (2).png">
        </a> 
        
        <img src = "/img/menu (1).png">

    </div>

    

</body>
<script src="/js/script.js"></script>

</html>